@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');
strong{
    color: #14279B;
    font-weight: bolder;
    font-size: 4vw;
    font-family: 'Lexend Mega', sans-serif;
}