.wrapper{
    height: 100vh;
    background: rgb(218,240,255);
background: radial-gradient(circle, rgba(218,240,255,1) 0%, rgba(255,255,255,1) 97%);
}
.wrapper2{
    position: relative;
    height: 100%;
}
.h1{
    font-size: 2vw;
    text-align: left;
}
.Adminbutton{
    margin-top: 50%;
    color: white;
    border: 2x solid #ffffff;
    margin-top: 10px;
}
.titleplate{
    height: 10%;
    padding: 0%;
    margin: 0%;
    background-color: #7868E6;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.data{
    position: relative;
    height: 95%;
    padding: 0%;
    width: 90%;
    margin: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #ffffff;
}
.title{
    margin-top: 1.5%;
    font-size: 1.5vw;
    padding: 2%;
    color: white;
    text-align: left;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}