
.input{
    margin: 5%;
}

.h1{
    color: #14279B;

}

.para{
    margin: 5%;

}
.button{
    position: relative;
    width: 30%;
    margin: 3%;
    color: #14279B;
    background-color: transparent;
    border: 1px solid #14279B;
    border-radius: 5px;
    padding: 5px 10px;
    transition: 0.3s;
}
 
.button:hover{
    color: white;
    background-color: #14279B;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
}
.img{
    margin: 0px;
    padding: 0px;   
}